    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <h2>平凡的背後可能是個精采的故事</h2>
            <!--div class="col-lg-8 col-lg-offset-2"-->
            <div class="lead" style="text-align:left;padding:2px">
                <p>
                構樹(<i>Broussonetia papyrifera</i>)在臺灣是一個很常見的物種，做植物研究的人總是會不經意略過這個物種，
                業餘植物愛好者多半追求稀有的物種，對這種很「賤」、到處都有的雜木可能會嗤之以鼻。但不知道你有沒有想過，
                構樹竟然能和南島語族的遷徙有關聯！
                </p>

                <p>
                <a href="www.nmp.gov.tw">台東史前博物館</a>張至善助理研究員及中央研究院<a href="http://biodiv.sinica.edu.tw/research.php?pi=169">鍾國芳</a>老師團隊花了七年的時間至臺灣各處、
                太平洋島嶼等地採集、收集標本分析(我也幫忙採集過樣本，與有榮焉)，跨領域的研究找到太平洋的構樹是由台灣早期的南島語族帶出去了，
                間接證實了大洋洲的文化起源是來自臺灣。很平凡的構樹，但故事卻很精采吧！
                期許我們做生態研究的人也能從生活周遭挖掘出這樣精采的故事<br/>
                </p>

              </div>
                <p>
                <ul style="text-align:left">
                延伸閱讀：<br/>
                    <li>Chi-Shan Chang, Hsiao-Lei Liu, Ximena Moncada, Andrea Seelenfreund, Daniela Seelenfreund, and Kuo-Fang Chung (2015) <a href="http://www.pnas.org/content/112/44/13537.abstract">A holistic picture of Austronesian migrations revealed by phylogeography of Pacific paper mulberry</a>. PNAS, 112(44): 13537--13542. doi:10.1073/pnas.1503205112.
                    <li><a href="http://pansci.asia/archives/87653">你有想過構樹如何證明出臺灣說嗎？ http://pansci.asia/archives/87653</a>
                </ul>

                </p>
            
              <br/><br/>
               <br/>
        </div>
    </section>
