<section id="joinus">
   <div class="container">
       <h1>加入我們！</h1>
      <div class="row">
        <div class="col-md-6">
          <h2>我是大學生</h2>
          <p>我們很樂意從最基礎的開始培養學生，不管是野外的生態調查或是室內的分析、報告撰寫等技能。
          如果你想做和我們研究計畫相關的工作，我們也可以給你一些兼任助理工讀的薪水喔。
        </div>
        <div class="col-md-6">
          <h2>我是準研究生</h2>
          <p>如果你是準研究生或是大學不是生物資源系畢業的學生，請你準備好你想做的題目方向來和我討論。
          如果你還沒有方向，或只是想念個研究所，建議慎重考慮。畢竟做個碩士論文的題目，短則兩年，長則三、四年，
          若你只是跟著潮流走，我會建議你找個喜歡的工作累積你的經驗，等到未來有一天真的很想來念書再來考慮。
        </div>
      </div>
</section>

